{% extends 'base.html' %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>game_id</td>
            <td>game_type</td>
            <td>store_front_id</td>
            <td>unit_id</td>
            <td>level_id</td>
            <td>merchant_id</td>
            <td>max_score</td>
            <td>min_score</td>
            <td>insert_date</td>
            <td>status</td>

        </tr>
    </thead>
    <tbody>
        {% for dashboard in dashboard_list %}
            <tr>
                <td>{{dashboard.game_id}}</td>
                <td>{{dashboard.game_type}}</td>
                <td>{{dashboard.store_front_id}}</td>
                <td>{{dashboard.unit_id}}</td>
                <td>{{dashboard.level_id}}</td>
                <td>{{dashboard.merchant_id}}</td>
                <td>{{dashboard.max_score}}</td>
                <td>{{dashboard.min_score}}</td>
                <td>{{dashboard.insert_date}}</td>
                <td>{{dashboard.status}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}