{% extends 'base.html' %}


{% block content %}

    <div class="col-md-12 mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Dashboard</h1>
            <hr class="my-4">

            <a href="{% url 'dashboard_insert' %}" class="btn btn-outline-success">
                <i class="fas fa-plus"></i> Add Leaderboard
            </a>
            <hr />
            <table class="table table-borderless">
                <thead class="border-bottom font-weight-bold">
                    <tr>
                        <td>Game ID</td>
                        <td>Game Type</td>
                        <td>Store Front ID</td>
                        <td>Unit ID</td>
                        <td>Level ID</td>
                        <td>Merchant ID</td>
                        <td>Min Score</td>
                        <td>Max Score</td>
                        <td>Insert Date</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                    {% for dashboard in dashboard_list %}
                    <tr>
                        <!-- <td>{{dashboard.id}}</td> -->
                        <td>{{dashboard.game_id}}</td>
                        <td>{{dashboard.game_type}}</td>
                        <td>{{dashboard.store_front_id}}</td>
                        <td>{{dashboard.unit_id}}</td>
                        <td>{{dashboard.level_id}}</td>
                        <td>{{dashboard.merchant_id}}</td>
                        <td>{{dashboard.max_score}}</td>
                        <td>{{dashboard.min_score}}</td>
                        <td>{{dashboard.insert_date}}</td>
                        <td>{{dashboard.status}}</td>
                        <td>
                            <a href="{% url 'dashboard_update' dashboard.id %}" class="btn text-secondary px-0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                            <form action="{% url 'dashboard_delete' dashboard.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}